
:root {
    /** This does not work on any browser it's just a memo currently */
    @custom-media --viewport-4 (min-width: 480px);
    @custom-media --viewport-7 (min-width: 768px);
    @custom-media --viewport-9 (min-width: 992px);
    @custom-media --viewport-12 (min-width: 1200px);

    /* colours */
    --white: #fff;
    --black: #333;
    --light-grey:  #ccc;
    --transparent: rgba(0,0,0,0);

    /* Imperial color scheme */
    --imperial-normal-blue: #24538B;
    --imperial-dark-blue: #0f2f55;
    --imperial-light-blue: #55C1F5;
    --imperial-link-normal: #24538B;
    --imperial-link-hover: #5B7EA8;

    /* RCSU color scheme */
    --rcsu-purple-light: #836ea9;
    --rcsu-purple-dark: #45297d;

    --page-body-background: #F5F5F5;

    /* geometry */
    --content-width: 60%;

    /* Font */
    /* body text */
    --font-family-basic: 'Fira Sans', sans-serif;
    --font-color-basic: #202020;
    --font-weight-basic: 400;

    /* titles */
    --font-family-titles: "Segoe UI", "Helvetica Neue", Roboto, Helvetica, Arial, serif;
    --font-weight-titles: 500;
    --font-color-titles: #333;

    /* footers */
    --font-color-footer: #CDCDCD;
    --font-weight-footer: 400;
}

html, body { height: 100%; }

/*
body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
*/

body {
    box-sizing: border-box;
    background-color: var(--page-body-background);
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;

    font-family: var(--font-family-basic);
    font-weight: var(--font-weight-basic);
    color: var(--font-color-basic);

    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
}

/** General styles **/
/** Paragraph and titles **/
p,ul,ol,h1,h2,h3,h4,h5,h6{ margin-bottom: 1.5rem; }
h1,h2,h3,h4,h5,h6,caption {
    color: var(--font-color-titles);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-titles);
    text-align: center;
}
h1{ font-size: 2em; }
h2{ font-size: 1.5em; }
h3, caption{ font-size: 1.325em; }
h4{ font-size: 1.25em; }
h5{ font-size: 1.125em; }
h6 { font-size: 1em; }

/** Lists **/
ul, ol {
    margin-left: 1.5rem;
    list-style-position: outside;
    overflow: hidden;
}
ul { list-style-type: square; }
ol { list-style-type: decimal; }
ul ul, ul ol , ol ul, ol ol {
    margin-bottom: 0;
    margin-left: auto;
}
ul ul, ol ul { list-style: circle; }
ol ol, ul ol { list-style: lower-alpha; }

/** Quotes **/
blockquote {
    margin: 0 4rem 1.5rem 3rem;
    padding: 1rem;
    overflow: hidden;
    font-family: serif;
    font-style: italic;
    border-radius: 0.5em;
    /* background-color: var(--white); */
}

blockquote blockquote {
    margin: 1rem;
    border-left: solid 0.3em var(--rcsu-purple-light);
    background-color: var(--white);
}
blockquote p { margin-top: 0; }
blockquote cite {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
blockquote cite::before{content: " - ";}

/** Images & Figures **/
img {
    margin: auto;
    border: 1px solid var(--black);
    background-color: var(--white);
    /* Fix mobile issues */
    max-width: 100%;
    height: auto;
}

a, a:visited {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--imperial-link-normal);

    transition-property: color, text-decoration-color;
    transition-duration: .5s;
}

a:hover, a:focus {
    text-decoration-color: var(--imperial-link-hover);
    color: var(--imperial-link-hover);
}

.cover {
    object-fit: cover;
}

/* Content layout */
.center-content-column p {
    box-sizing: border-box;
    padding: 1em;
}

/* Specific styles */
/* Main header */

.main-header {
    /* header specific variables */
    --base-sep: 0.5em;

    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-titles);
    background: var(--rcsu-purple-light);
    margin: 0;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.main-header /* expanded */ {
    /*bottom: 0;*/
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: normal;
}

.mobile-nav a, .mobile-nav a:visited, .mobile-nav a:hover, .mobile-nav a:focus {
    color: var(--white);
    text-decoration: none;
    transition: none;
}

.mobile-nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.5em;
    list-style: none;
}

.brand-icon img {
    height: 3em;
    margin: 0;
    border: none;
    background-color: initial;
}
.main-logo {
    border-radius: 2em;
}

.mobile-nav-expanded {
    display:none;
    flex-direction:column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.open .mobile-nav-expanded {
    display: flex;
}

.mobile-nav-expanded li {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 3em;
    padding: 1rem 0;
    transition: background-color 0.2s ease-in-out;
}

.mobile-nav-expanded li:hover,
.mobile-nav-expanded li:focus-within,
.mobile-nav-expanded li:focus,
.mobile-nav-expanded li:active {
    background-color: var(--rcsu-purple-dark);
}

.extended-links {
    display: inline-block;
    width: 100%;
}

.main-nav {
    display: none;
}

/** Hamburger icon in mobile navigation menu */
#hamburger {
    --step: 10px;
    width: 60px;
    height: calc(5 * var(--step));
    position: relative;
    margin: auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: calc(1 * var(--step));
    width: 100%;
    background: var(--rcsu-purple-dark);
    border-radius: calc(1 * var(--step));
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
    top: calc(2 * var(--step));;
}

#hamburger span:nth-child(4) {
    top: calc(4 * var(--step));;
}

#hamburger.open span:nth-child(1) {
    top: calc(2 * var(--step));;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: calc(2 * var(--step));;
    width: 0;
    left: 50%;
}

/** Desktop navigation **/
.main-nav a {
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    margin: auto;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.main-nav ul li {
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: var(--base-sep);
    text-align: center;
}

.main-nav a {
    font-size: 1.25em;
    color: white;
}

.main-nav a:hover, .main-nav a:focus, .main-nav a:active {
    text-decoration: none;
}

.main-nav ul li img {
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

.main-nav ul .brand-icon {
    padding: .5em;
    margin: 0;
    height: 1.25em;
}

/* Header link animation */
.link-animation {
    display: inline-block;
    position: relative;

    padding-bottom: 0;
}

.link-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: calc(0.8*var(--base-sep));
    display: block;
    margin-top: calc(0.2*var(--base-sep));
    right: 0;
    background-color: var(--rcsu-purple-dark);
    transition: width .2s ease;
}

.link-animation:hover::after, .link-animation:focus::after, .link-animation:active::after {
    width: 100%;
    left: 0;
}

/* Main footer */
.main-footer-wrapper {
    background-color: var(--rcsu-purple-dark);
    color: var(--font-color-footer);
    font-weight: var(--font-weight-footer)
}

.main-footer {
    margin: auto;
    max-width: 90%;
    display: grid;
    text-align: center;
    grid-template-areas:
        "address"
        "links"
        "copyright";
}

.main-footer h3 {
    color: var(--white);
}

.main-footer a, .main-footer a:visited, .main-footer a:hover, .main-footer a:focus, .main-footer a:active {
    color: var(--white);
    text-decoration: none;
}

.footer-address {
    grid-area: address;
}

.footer-links {
    grid-area: links;
}

.footer-links ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    color: inherit;
}

.footer-copyright {
    grid-area: copyright;
    text-align: center;
}

#footer-logo {
    background-color: var(--rcsu-purple-dark);
    border: none;
    border-radius: 2em;
    width: 2.5em;
    margin: auto;
    margin-bottom: 1em;
}

/* Big links with an image as a background */
.nav-image-links ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-image-links li {
    box-sizing: border-box;
    margin: 1em;
    padding: 0;
}

.nav-image-links figure {
    margin: 1em;
    border: none;
    background-color: inherit;
}

.nav-image-links img {
    border: 1px solid var(--rcsu-purple-light);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    opacity: 1;
    transition: .3s ease-in-out;
}

.nav-image-links figure:hover img {
    opacity: .5;
    border-color: var(--rcsu-purple-dark);
}

.nav-image-links figcaption {
    margin: 0;
    text-align: center;
}

/* Desktop/tablet styles */
@media (min-width: 992px) {
    .main-header {
        left: unset;
        right: unset;
        width: 100%;
    }

    .center-content-column {
        margin: auto;
        width: var(--content-width);
    }

    /** Nav **/
    .main-nav {
        display: flex;
    }
    .mobile-nav {
        display: none;
    }

    .main-footer {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: 2rem;
        grid-template-areas:
            "address links"
            "copyright copyright";
    }

    .main-footer h3, .footer-address, .footer-links {
        text-align: left;
    }

    .footer-address, .footer-links {
        margin: 0 auto;
    }

    #not-found {
        margin-left: 20%;
        width: 60%;
    }

    #footer-logo {
        margin-left: calc(100% - 2.5em);
    }
}

@media (min-width: 1200px) {
    .main-header {
        /*width: var(--content-width);*/
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}